*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #999;
}
.set-settings{
    width: 500px;
    background-color: rgba(255, 255, 254, 0.92);
    margin: 10px auto;
    padding: 3px;
    box-shadow: 10px 0px 30px #666;
}
.text-field{
    width: 200px;
    padding: 3px;
    margin: 10px;
}
.button-feild{
    height: 25px;
}
.Active-elements{
    padding: 3px;
    margin: 6px;
}
.active-list{
    color: green;
}
.done-elements{
    padding: 3px;
    margin: 6px;
}
.done-list{
    color:blue;
}